name: Release Build and Upload

on:
  workflow_dispatch: {}
  workflow_call:

jobs:
  build:
    name: Release Binary Build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rust:
          - stable
    steps:
      - uses: actions/checkout@v3
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: ${{ matrix.rust }}
          override: true
      - uses: actions-rs/cargo@v1
        with:
          command: build
          args: --release
      - run: |
          mkdir -p artifacts
          mv ./target/release/webrtc-sfu artifacts
          gzip -f artifacts/*
      - name: Upload Artifact
        uses: actions/upload-artifact@v3
        with:
          name: artifact.gz
          path: artifacts/*
